<ion-view title="{{ 'settings_SETTINGS' | translate }}">
  <ion-content class="padding">
  	<p>{{ 'settings_INFOCAREFUL' | translate }}</p>
    <button ng-click="deleteAll()" class="button">
      <i class="icon ion-trash-a"></i>
	  {{ 'settings_DELETEALL' | translate }}
	</button>

	<p>{{ 'settings_LANGUAGE' | translate }}</p>
	<div class="button-bar">
	  <button class="button" ng-click="setLanguage('en')">EN</button>
	  <button class="button" ng-click="setLanguage('fr')">FR</button>
	  <button class="button" ng-click="setLanguage('de')">DE</button>
	</div>
	<p></p>
	<button class="button" ng-click="setLanguage('')">{{ 'settings_REMOVEDEFAULTLANGUAGE' | translate }}</button>

	<button class="button" ng-click="exportBackup()">Export backup file on SD-Card</button>

	<button class="button" ng-click="getBackupFiles()">getBackupFiles</button>

  </ion-content>
</ion-view>
