<ion-view title="{{ 'settings_SETTINGS' | translate }}">
    <ion-content>
        <div class="list">
            <ion-item type="item-icon-left" href="#/tab/settings/backup">
                {{ 'settings_IMPORTEXPORT' | translate }}
            </ion-item>
            <ion-item type="item-icon-left" href="#/tab/settings/languages">
                {{ 'settings_LANGUAGE' | translate }}
            </ion-item>
            <ion-item type="item-icon-left" href="#/tab/settings/developer">
                {{ 'settings_DEVELOPER' | translate }}
            </ion-item>

        </div>

    </ion-content>
</ion-view>
