<ion-view title="{{ 'add_ADD' | translate }}">
<ion-content>

	<div class="list list-inset">
	  <div class="item item-input-inset">
        <i class="icon ion-android-calendar"></i>
	  	<input class="inputdata add" type="text" pick-a-date="date" pick-a-date-options="options" ng-model="element.date"/>
        <i class="icon ion-clock"></i>
        <input class="inputdata add" pick-a-time="time" pick-a-time-options="optionsTime" type="text" ng-model="element.time"/>
	  	<button ng-click="today();now()" class="button button-outline">
          {{ 'add_NOW' | translate }}
		</button>
	  </div>
	</div>

	<div ng-init="element.type = 'poo'" class="button-bar padding">
	  <a class="button button-outline button-positive" ng-class="{active: (element.type == 'poo')}" ng-click="setType('poo')">{{ 'POO' | translate }}</a>
	  <a class="button button-outline button-positive" ng-class="{active: (element.type == 'note')}" ng-click="setType('note')">{{ 'add_NOTE' | translate }}</a>
	</div>

	<div ng-show="(element.type == 'poo')" class="list list-inset">
		<div ng-init="element.blood = 0" class="button-bar">
		  <a class="button button-outline button-assertive" ng-class="{active: (element.blood == 0)}" ng-click="setBlood(0)">{{ 'add_BLOOD' | translate }} 0</a>
		  <a class="button button-outline button-assertive" ng-class="{active: (element.blood == 1)}" ng-click="setBlood(1)">+</a>
		  <a class="button button-outline button-assertive" ng-class="{active: (element.blood == 2)}" ng-click="setBlood(2)">++</a>
		</div>
        <br>
        <div ng-if="(showDiarrhea)" ng-init="element.diarrhea = 0" class="button-bar">
            <a class="button button-outline button-energized" ng-class="{active: (element.diarrhea == 0)}" ng-click="setDiarrhea(0)">{{ 'add_DIARRHEA' | translate }} 0</a>
            <a class="button button-outline button-energized" ng-class="{active: (element.diarrhea == 1)}" ng-click="setDiarrhea(1)">+</a>
            <a class="button button-outline button-energized" ng-class="{active: (element.diarrhea == 2)}" ng-click="setDiarrhea(2)">++</a>
        </div>
    </div>

	<div ng-show="(element.type == 'note')" class="list list-inset">
		<label class="item item-input">
	    <textarea class="notetext" ng-model="element.noteContent" placeholder="Notes"></textarea>
	  </label>
	</div>

	<div class="list list-inset">
	<button ng-click="add()" class="button button-block button-outline button-positive">
	  {{ 'add_ADD' | translate }}
	</button>
	</div>

    </ion-content>

</ion-view>
