<ion-view title="{{ 'settings_DEVELOPER' | translate }}">
    <ion-content>
        <div class="list">
            <button ng-click="dc.deleteAll()" class="button button-full">
                <i class="icon ion-trash-a"></i>
                {{ 'settings_DELETEALL' | translate }}
            </button>
            <button ng-click="dc.createDemoData()" class="button button-full">
                <i class="icon ion-trash-a"></i>
                Create demo data
            </button>
        </div>
    </ion-content>
</ion-view>
