<ion-view title="{{ 'list_DETAIL' | translate }}">
  <ion-content has-header="true" padding="true">
    <div class="list card">

      <div class="item item-icon-left">
        <i class="icon" ng-class="{'ion-disc' : (lc.element.type == 'poo'),'ion-document-text' : (lc.element.type == 'note')}"></i>
        <h2>{{lc.element.date | date: medium}}
          {{lc.element.time}}</h2>
        <p>Id: {{lc.element.id}}</p>
      </div>
      <div class="item item-text-wrap">
        <p ng-if="(lc.element.type == 'note')">{{lc.element.noteContent}}</p>
        <p ng-if="(lc.element.type == 'poo')">{{ 'add_BLOOD' | translate }}: {{lc.element.blood}}</p>
        <p ng-if="(lc.element.type == 'poo') && (lc.element.diarrhea !== 'undefined')">{{ 'add_DIARRHEA' | translate }}: {{lc.element.diarrhea}}</p>
      </div>

      <a class="item item-icon-left assertive" ng-click="lc.deleteElement()" href="#">
        <i class="icon ion-trash-a"></i>
        {{ 'general_DELETE' | translate }}
      </a>

    </div>
  </ion-content>
</ion-view>
