.settings-subheader {
	color: white;
	background-color: #4E8EF7 ;
	border: none;
	/*margin-top: 20px;*/
}

input.add {chi
    /*border: solid 1px !important;*/
    text-align: left;
    background-color: white !important;
    width: auto !important;
    min-width: 0 !important;
    margin-left: 15px;
    font-size: 16px;
}

.notetext {
    min-height: 15vh;
}

.tabs-striped .tabs {
    border-width: 0 !important;
}